{% extends 'base.html.twig' %}

{% block title %}Auteurs index{% endblock %}

{% block body %}
    <h1>Auteurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Articles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.nom }}</td>
                <td>{{ auteur.prenom }}</td>
                <td>{{ auteur.articles }}</td>
                <td>
                    <a href="{{ path('app_auteurs_show', {'id': auteur.id}) }}">show</a>
                    <a href="{{ path('app_auteurs_edit', {'id': auteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_auteurs_new') }}">Create new</a>
{% endblock %}
