{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
    <h1>Auteurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ auteur.prenom }}</td>
            </tr>
            <tr>
                <th>Articles</th>
                <td>{{ auteur.articles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_auteurs_index') }}">back to list</a>

    <a href="{{ path('app_auteurs_edit', {'id': auteur.id}) }}">edit</a>

    {{ include('auteurs/_delete_form.html.twig') }}
{% endblock %}
